html{
    width: 99%;
    font-family: "Play";
    height: 500px;
}

body{
    width: 100%;
    height: 100%;
    background-color:  #2f3640;
}

canvas{
    display: block;
    margin: 10vh auto;
    background-color: #000;
}
img{
    position: static;
    margin-top: -450px;
    margin-right: 100px;
    /*bottom: 100px; right: 90px;*/

/*  media queries */

/* @media only screen and (max-width: 600px) {
    canvas{
        display: block;
        margin: 2vh auto;
        background-color: #000;
    }

  } */

/*  media queries */